# Model provider
MODEL_NAME=
MODEL_API_KEY=

# Google Search provider
GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_ENGINE_ID=

# A2A service
A2A_HOST=127.0.0.1
A2A_PORT=8000
A2A_AGENT_URL=http://127.0.0.1:8000

